:root {
  /* COLOR Variable */
  --color-bg: #24252a;
  --color-light: #f3f3f3;
  --color-dark: #383838;
  --color-primary: #eecd3d;
  --color-primary-hover: #cbaf31;
  --color-secondary: #d9d9d9;

  --color-success: #28a745;
  --color-warning: #dc3545;
  --color-danger: #ffc107;

  /* FONT Variable */
  --Font-Poppins: "Poppins", sans-serif;
  --Font-Montserrat: "Montserrat", sans-serif;

  /* FONT Weight Variable */
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

/* Header Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font-Poppins);
}

body {
  background-color: var(--color-bg);
}

h1 {
  color: var(--color-light);
  font-weight: var(--font-extrabold);
  font-size: 30px;
  margin: 30px 0;
  border-left: 4px solid var(--color-primary);
  padding-left: 10px;
}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 669px) {
  h1 {
    font-size: 15px;
  }
}

h2 {
  color: var(--color-light);
  font-weight: var(--font-bold);
  font-family: var(--Font-Montserrat);
  /* margin: 0 10%; */
  /* border: 1px solid #fff; */
}

a {
  text-decoration: none;
}

.digital {
  background-color: rgb(74, 146, 255);
}
.comingsoon {
  background-color: rgb(232, 248, 1);
}
.air {
  background-color: rgb(51, 253, 0);
}

header {
  width: 100%;
  height: 100px;
  z-index: 99;
  background-color: var(--color-bg);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  margin-top: -20px;
}

.section-margin {
  margin: 0 10%;
}

@media only screen and (max-width: 669px) {
  .section-margin {
    margin: 0 2%;
  }
}

section {
  margin: 20px 0;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}


.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-list ul {
  display: flex;
}


.search-box {
  position: relative;
  margin-left: 15px;
}

.search-box input {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-light);
  outline: none;
}

.search-box input::placeholder {
  color: var(--color-light);
}

.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-box button i {
  color: var(--color-light);
}

.menu {
  display: none;
}





@media (max-width: 1000px) {
  .navbar {
    padding: 0 5%;
  }

  .search-box button {
    position: absolute;
  }

  .navbar-list ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background: #10181e;
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }



} */

/* header{
  background-color: #262626;
} */
.navbar {
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 24px; */
  z-index: 3001;
}

.navbar-logo img {
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar-logo img {
    width: 150px;
  }
}

@media only screen and (max-width: 669px) {
  .navbar-logo img {
    width: 80px;
  }
}
.navbar-right {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* flex-grow:1; */
}
.navbar .nav-menu li {
  list-style: none;
}

.navbar .nav-menu .nav-item a {
  text-decoration: none;
  color: var(--color-light);
  padding: 10px 10px;
  font-size: 16px;
}
@media (max-width: 1100px) {
  #dropdown-item,
  .navbar .nav-menu .nav-item a {
    font-size: 1.1vw;
  }
}
.navbar .nav-menu .nav-item a:hover {
  color: var(--color-primary-hover);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-link {
  transition: 0.7s ease;
  /* border: 1px solid green; */
}

.hamburger {
  display: none;
  cursor: pointer;
}

.dropdown-link {
  text-align: center;
  margin: 5px;
}

#dropdown-item {
  margin-top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 27%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  display: none;
  width: 13vw;
}

#dropdown-item li:hover {
  background: rgba(0, 0, 0, 0.2);
}

#dropdown-item a {
  display: block;
  padding: 5px 10px;
}

/* .dashboard-nav{
  border-top: 1px solid var(--color-light);
  border-bottom: 1px solid var(--color-light);
} */

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.signin a {
  text-decoration: none;
  color: var(--color-light);
  padding: 10px 12px;
  background: var(--color-primary);
  border-radius: 8px;
}

.search-box {
  position: relative;
  margin-left: 15px;
}

.search-box input {
  width: 16vw;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-light);
  outline: none;
}

.search-box input::placeholder {
  color: var(--color-light);
}

.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-box button i {
  color: var(--color-light);
}

@media (max-width: 960px) {
  .search-box button {
    position: absolute;
    order: 1;
  }
  .hamburger {
    margin-left: 15px;
    display: block;
    order: 2;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-bg);
    /* background-color: rgba(0, 0, 0, 0.4); */
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

/* Category Section */

.category {
  padding-top: 120px;
  /* margin: 0 10%; */
}

.category h2 {
  padding: 5px;
  margin-bottom: 10px;
}

.list-category {
  margin-bottom: 20px;
}

.list-category ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  list-style: none;
  padding: 0;
}

.list-category ul li {
  margin-bottom: 5px;
  background-color: var(--color-primary);
  margin: 10px;
  border-radius: 5px;
}

.list-category ul li a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-bold);
  display: block;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.list-category ul li a:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-dark);
  font-weight: var(--font-medium);
}

@media only screen and (max-width: 669px) {
  .category h2 {
    font-size: 20px;
  }
  .list-category ul li a {
    font-size: 12px;
  }
}

/* Carousel Section */

.mySlides {
  display: none;
}

.mySlides .film-banner {
  height: 600px;
  /* background-color: var(--color-dark); */
}

.mySlides img {
  vertical-align: middle;
  height: 100%;
  /* max-height: 600px; */
  object-fit: cover;
  z-index: 10;
  position: relative;
  margin-top: -20px;
}
/* Slideshow container */
.carousel-container {
  position: relative;
  margin: auto;
}

/* Caption text */

.film-information {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0;
  position: absolute;
  bottom: 8px;
  /* width: 100%; */
  z-index: 11;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.film-information .film-title {
  font-size: 36px;
  font-weight: var(--font-semibold);
}

.film-information .film-prop {
  font-size: 15px;
  display: flex;
  font-weight: var(--font-bold);
}

/* .film-year::after,
.film-genre::after {
  content: " _ ";
} */

.film-synopsis {
  max-width: 290px;
  overflow-wrap: break-word;
  font-weight: var(--font-reguler);
}

@media only screen and (max-width: 669px) {
  .film-information .film-title {
    font-size: 18px;
  }
  .film-information .film-prop {
    font-size: 12px;
  }
  .film-synopsis {
    font-size: 8px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.dot {
  height: 10px;
  width: 10px;
}
@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
}

/* search field */

/* .search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: -25px;
}

.search-field form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px; 
}

.search-field input {
  flex: 1;
  height: 50px;
  border-radius: 0 0 0 8px;
  padding: 10px;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.search-field input::placeholder {
  color: var(--color-light);
}

.search-field input:focus {
  background-color: #333; 
  outline: none; 
}

.search-field button {
  width: 50px;
  height: 50px;
  border-radius: 0 0 8px 0;
  background-color: var(--color-dark);
  cursor: pointer;
  border: none;
}

.search-field button i {
  color: var(--color-light);
}

@media (max-width: 768px) {
  .search-field input {
    width: 50%; 
}

@media (max-width: 480px) {
  .search-field input {
    width: 40%; 
  }

  .search-field button {
    width: 40px; 
    height: 40px;
  }
} */

/* Feature Section */
.movie-container {
  display: grid;
  gap: 20px;
  /* padding: 20px; */
  /* justify-content: space-between; */
}

.movie-card {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: auto;
  max-height: 310px;
  object-fit: cover; /* Ensures the image covers the area */
  border-radius: 10px;
}

.movie-card h3,
.movie-card p {
  color: var(--color-light);
  text-align: center;
  font-family: var(--Font-Montserrat);
}
.movie-card h3 {
  font-weight: var(--font-medium);
  margin-top: 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid green; */
}

.movie-card p {
  font-weight: var(--font-semibold);
  /* margin-top: -15px; */
  font-size: 11px;
  /* border: 1px solid red; */
}

@media only screen and (min-width: 769px) {
  .movie-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 769px) {
  .movie-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 669px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Footer */
footer {
  color: #f3f3f3;
  border-top: 1px solid #f3f3f3; /* Garis atas */
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  margin: 0 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.logo {
  flex-basis: 60%; /* Mengatur lebar logo 60% */
}

.logo img {
  max-width: 150px;
  height: auto;
}

.footer-bottom {
  border-top: 1px solid var(--color-secondary);
}

.bottom-area {
  margin: 0 10%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about {
  display: flex;
  align-items: center;
}

.categories {
  flex-basis: 40%; /* Mengatur lebar konten footer 40% */
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 0; /* Menghapus margin bawaan */
  text-align: left; /* Rata kiri */
  font-size: 18px;
  margin-bottom: 8px;
  padding: 5px;
}

.categories {
  padding: 20px;
}

.columns ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  list-style: none;
  padding: 0;
}

.columns ul li {
  margin-bottom: 5px;
}

.columns ul li a {
  text-decoration: none;
  color: var(--color-primary);
  display: block;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.columns ul li a:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-dark);
  font-weight: var(--font-medium);
}

.about i {
  font-size: 10px;
  font-weight: bold;
  color: #f3f3f3;
  margin-left: 10px;
}

.about a{
  color: var(--color-light);
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    max-width: 100%;
  }

  .columns ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
  }

  .columns ul li {
    margin-bottom: 0;
  }

  .logo {
    display: block;
    order: 2;
  }

  .categories {
    order: 1;
    width: 100%;
    align-items: center;
  }

  h4 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  h4 {
    font-size: 16px;
  }

  .columns ul li a {
    font-size: 10px;
  }

  .footer-content {
    margin: 0 2%;
  }

  .bottom-area {
    flex-direction: column;
    align-items: center;
  }

  .bottom-area p,
  .about {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .logo img {
    max-width: 40px;
  }
}

/* Film Detail */

.film-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 90%; /* Atur lebar sesuai kebutuhan Anda */
  max-width: 760px; /* Batas maksimal lebar */
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.film-detail-container {
  margin-top: 100px;
}

.film-detail-container .detail-content1 {
  display: flex;
}

.detail-content1,
.detail-content2 {
  justify-content: space-between;
}

.detail-content1 .film-detail {
  display: flex;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  width: 75%;
  height: auto;
  max-height: 800px;
}

.film-detail .film-poster img {
  border-radius: 10px;
  height: 50%;
  width: auto;
}

.film-detail .film-detail-information {
  padding: 18px;
}

.film-detail-information {
  color: var(--color-light);
}

.film-detail-information h3 {
  font-size: 20px;
  font-weight: var(--font-bold);
}

.film-detail-information .film-prop {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 13px;
}

.blavla {
  color: rgb(93, 255, 52);
}

.film-prop {
  color: var(--color-secondary);
}

.film-prop .film-rate {
  padding: 2px 3px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  color: var(--color-secondary);
  font-weight: var(--font-bold);
}
.film-prop .film-rating {
  padding: 2px 3px;
  color: var(--color-primary);
  font-weight: var(--font-bold);
  align-items: center;
}

.film-prop .film-rating i {
  padding-right: 4px;
}

.film-prop .film-duration {
  color: var(--color-secondary);
}

.film-detail-information .film-detail-synopsis {
  max-width: 100%;
  margin: 15px 0;
}

.film-info {
  width: 100%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
}
.film-info > :last-child {
  margin: 50px auto 0 auto;
}

.film-info .info-prop {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.label {
  width: 100px;
  font-weight: var(--font-semibold);
}

.content {
  flex: 1;
  text-align: left;
}

.film-info .rating-card {
  height: auto;
  width: 80%;
  background-color: var(--color-dark);
  border-radius: 15px;
  display: block;
  padding: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left h2 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.left h2 img {
  height: 80px;
}

.left .ratings {
  justify-content: center;
  display: flex;
}

.ratings .fa-star {
  font-size: 3rem;
  color: grey;
  cursor: pointer;
}

.fa-star.active {
  color: var(--color-primary);
}

.left button {
  margin-top: 20px;
  width: 40%;
  padding: 10px;
  background-color: #0079ff;
  border: 1px solid #0079ff;
  border-radius: 5px;
  color: #fff;
  /* font-size: 1rem; */
  /* margin-bottom: 2rem; */
  /* font-weight: 500; */
  /* letter-spacing: 0.05rem; */
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.left button:hover {
  background-color: #2192ff;
  border: 1px solid #2192ff;
}

.detail-content1 .film-related {
  width: 24%;
}

.detail-content1 h2,
.detail-content2 h2 {
  margin-bottom: 10px;
}

.film-related-item {
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: 1s ease;
}

.film-related-item:hover {
  background-color: #eecd3d56;
  /* font-size: 20px; */
}

.film-related-item a {
  height: 80px;
  display: flex;
}

.film-related-information {
  margin-left: 10px;
}

.film-related-item .film-poster img {
  height: 100%;
  border-radius: 10px;
}

.film-related-item .film-related-title {
  color: var(--color-light);
  font-size: 18px;
}

.film-related-item .film-prop {
  display: flex;
  font-size: 10px;
  align-items: center;
  margin-left: -2px;
  gap: 3px;
}

.film-status .content a {
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  color: var(--color-light);
  font-weight: var(--font-semibold);
}

.detail-content2 {
  margin-top: 20px;
  display: flex;
}

.detail-content2 .film-comment {
  width: 75%;
}

.detail-content2 .film-recommend {
  width: 24%;
}

.comment-content h5,
.user-comment p {
  color: var(--color-light);
}

.comment-field {
  border-top: 1px solid var(--color-secondary);
  margin-top: 10px;
  padding-top: 10px;
}

.comment-field .comment-user-input {
  display: flex;
  margin: 10px 0;
}

.comment-user-input .comment-input {
  margin-left: 10px;
  flex-grow: 1;
  position: relative;
}

.comment-input textarea {
  width: 100%;
  height: auto;
  min-height: 100px;
  resize: none;
  overflow: hidden;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  font-family: inherit;
  transition: height 0.3s ease-in-out;
  outline: none;
  border: none;
  background-color: var(--color-light);
}

.toolbar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  padding: 5px;
  font-size: 15px;
}
.toolbar .text-tool {
  gap: 5px;
}

.toolbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.send-button {
  color: var(--color-dark);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-input textarea:focus + .toolbar,
.auto-resize {
  display: flex;
}

.comment-field .film-user-comment {
  margin-top: 20px;
  display: flex;
}

.user-comment,
.comment-date {
  color: var(--color-secondary);
}

.user-comment {
  margin-left: 10px;
}

.user-comment .comment-date {
  font-size: 15px;
}

@media only screen and (max-width: 1100px) {
  .film-trailer {
    top: 23%;
  }

  .film-detail-container .detail-content1 {
    display: block;
    width: 100%;
  }

  .detail-content2 {
    display: flex;
    flex-direction: column;
  }

  .detail-content2 .film-recommend {
    order: 1;
  }
  .detail-content2 .film-comment {
    order: 2;
  }

  .detail-content1 .film-detail,
  .detail-content1 .film-related,
  .detail-content2 .film-comment,
  .detail-content2 .film-recommend {
    width: 100%;
    margin-bottom: 20px; /* Menambahkan jarak antara item */
  }

  .detail-content1 .film-detail {
    max-height: none; /* Menghapus batasan tinggi maksimum */
    flex-direction: column;
  }
  .film-detail .film-poster {
    display: flex;
    justify-content: center;
  }

  .film-detail .film-poster img {
    height: auto;
    width: 40%;
    justify-content: space-around;
    margin-top: 10px;
  }

  .film-detail .film-detail-information {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .film-detail .film-detail-information h3 {
    text-align: center;
  }

  .film-detail-information .film-prop {
    align-items: center;
  }

  .film-detail-synopsis,
  .film-detail-information .film-info {
    font-size: 12px;
  }

  .detail-content1 h2,
  .detail-content2 h2 {
    font-size: 20px;
  }

  .film-related-item a {
    height: 40px;
  }

  .user-comment .username-comment {
    font-size: 14px;
  }

  .user-comment .comment-date {
    font-size: 10px;
  }

  .user-comment .comment {
    font-size: 12px;
  }
}
