:root {
  /* COLOR Variable */
  --color-bg: #24252a;
  --color-light: #f3f3f3;
  --color-dark: #383838;
  --color-primary: #eecd3d;
  --color-primary-hover: #cbaf31;
  --color-secondary: #d9d9d9;

  --color-success: #28a745;
  --color-warning: #dc3545;
  --color-danger: #ffc107;

  /* FONT Variable */
  --Font-Poppins: "Poppins", sans-serif;
  --Font-Montserrat: "Montserrat", sans-serif;

  /* FONT Weight Variable */
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

body {
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  font-family: var(--Font-Montserrat);
  background: var(--color-bg);
}

h1 {
  border: none;
}

.error-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 150px;
  height: auto;
}

.code-problem h1 {
  font-size: 3em;
  color: var(--color-warning);
  margin-top: -10px;
}

.code-text {
  font-size: 1.5em;
  color: var(--color-light);
  font-weight: var(--font-semibold);
  margin-top: -10px;
  margin-bottom: 30px;
}

.error-container a {
  padding: 15px;
  color: var(--color-light);
  background-color: var(--color-dark);
  text-decoration: none;
  border-radius: 5px;
  font-weight: var(--font-semibold);
}


/* ABOUT */
#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/about-us/about.png");
  background-size: cover;
}

.container {
  padding: 10px 10%;
  text-align: center;
}

.vision h1{
  color: var(--color-light);
}


/* DESCRIPTION */
#desc
{
  padding: 120px 0;
  color: var(--color-light);

}

.desc-row
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.desc-col-1
{
  flex-basis: 20%;
}

.desc-col-1 img
{
  /* align-items: center; */
  width: 230px;
  border-radius: 15px;

}

.desc-col-2
{
  flex-basis: 70%;
  text-align: justify;
  line-height: 1.75;
}

.desc-col-2 h2{
  color: var(--color-light);
  font-weight: var(--font-extrabold);
  font-size: 30px;
  margin: 10px 0;
  border-left: 4px solid var(--color-primary);
  padding-left: 10px;
}

.desc-col-2 p{
  font-weight: var(--font-medium);
}

/* CREATOR CARD */
#creator
{
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  color: var(--color-light);

}

#creator .container h1{
  color: var(--color-light);
  font-weight: var(--font-extrabold);
  font-size: 30px;
  margin-bottom: 20px;
}

.wrapper{
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin : 0 auto;
}

.wrapper #left, .wrapper #right{
  height: 50px;
  width: 50px;
  background: var(--color-primary); /* Ensure the icon has a visible background */
  color: var(--color-light); /* Ensure the icon color is visible against the background */
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);

}

.wrapper i:first-child{
  left: -22px;
  color: var(--color-light);
}

.wrapper i:last-child{
  right: -22px;
  color: var(--color-light);
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100%/3) - 12px);
  gap: 16px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
  display: none;
}

.carousel :where(.card, .img){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}

.carousel .card{
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: var(--color-dark);
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .img{
  background: var(--color-primary);
  width: 148px;
  height: 148px;
  border-radius: 50%;
}

.card .img img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card h2{
  color: var(--color-primary);
  font-weight: var(--font-bold);
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span{
  color: var(--color-light);
  font-size: 1.31 rem;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--color-primary-hover);
    transform: translateY(-5px);
}

@media screen and (max-width: 900px){
  .wrapper .carousel{
      grid-auto-columns: calc((100%/2) - 9px);
  }
}
@media screen and (max-width: 768px){
  .wrapper .carousel{
      grid-auto-columns: 100%;
  }
}
@media screen and (max-width: 480px){

  /* DESCRIPTION */

  #desc
  {
    padding: 30px;
  }
.desc-row
{
  display: block;
  justify-content: center;
}


.desc-col-1 img
{
  width: 100px;
  border-radius: 15px;

}


.desc-col-2 h2{
  color: var(--color-light);
  font-weight: var(--font-extrabold);
  text-align: left;
  font-size: 25px;
  margin: 10px 0;
  border-left: 4px solid var(--color-primary);
  padding-left: 10px;
}

.desc-col-2 p{
  text-align: justify;
  font-size: 15px;
  font-weight: var(--font-medium);
}
  .wrapper .carousel{
      grid-auto-columns: 100%;
  }
  
}

