:root {
  /* COLOR Variable */
  --color-bg: #24252a;
  --color-light: #f3f3f3;
  --color-dark: #383838;
  --color-primary: #eecd3d;
  --color-primary-hover: #cbaf31;
  --color-secondary: #d9d9d9;

  --color-success: #28a745;
  --color-warning: #dc3545;
  --color-danger: #ffc107;

  /* FONT Variable */
  --Font-Poppins: "Poppins", sans-serif;
  --Font-Montserrat: "Montserrat", sans-serif;

  /* FONT Weight Variable */
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

body {
  margin: 0;
  font-family: var(--Font-Montserrat);
  background-color: var(--color-bg);
  color: var(--color-light);
  display: flex;
  height: 100vh;
  overflow-y: hidden; /* Menghindari scroll ganda */
}

.container {
  margin-left: 250px;
  flex-grow: 1;
  overflow-y: auto; /* Memastikan container bisa di-scroll */
}

.sidebar {
  width: 250px;
  padding: 20px 0;
  border-right: 1px solid #fff;
  position: fixed;
  height: 100vh; /* Membuat sidebar sepanjang viewport */
  overflow-y: auto; /* Memastikan sidebar bisa di-scroll jika kontennya melebihi viewport */
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 80px;
  height: auto;
  padding-top: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.sidebar nav ul li {
  padding: 20px 20px;
  font-size: 16px;
  font-weight: var(--font-medium);
  position: relative;
  border-right: 4px solid transparent; /* Default to transparent */
  transition: background-color 0.3s, border-right-color 0.3s; /* Smooth transition */
}

.sidebar nav ul li.active,
.sidebar nav ul li:hover {
  border-right-color: var(--color-primary);
  background-color: var(--color-dark);
}

.sidebar nav ul li a {
  color: var(--color-light);
  text-decoration: none;
  display: block;
}

.sidebar .sign-out {
  padding: 15px 20px;
}

.sidebar .sign-out a {
  color: var(--color-light);
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
}

.main-content header .nav-right {
  display: flex;
  align-items: center;
}

.main-content header .nav-right a {
  color: var(--color-danger);
  text-decoration: none;
  margin-right: 20px;
  font-weight: var(--font-medium);
}

.main-content header .nav-right .user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-content .content {
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .main-content {
    margin-top: 20px;
  }
}

.search-box {
  position: relative;
  margin-left: 15px;
}

.search-box input {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-light);
  outline: none;
}

.search-box input::placeholder {
  color: var(--color-light);
}

.search-box button {
  position: absolute;
  /* top: 0;
  right: 0; */
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-box button i {
  color: var(--color-light);
}

.film-container {
  padding-left: 15px;
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.film-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 230px;
  border: 1px solid var(--color-secondary);
  padding: 10px;
  border-radius: 5px;
}

.img-poster {
  position: relative;
}

.film-card .img-poster {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.film-card .img-poster img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  z-index: 1000;
  position: relative;
}

.film-card .poster-action {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-btn {
  display: flex;
  gap: 10px;
}

.action-btn .edit,
.action-btn .delete {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}
.edit {
  background-color: var(--color-danger);
}

.delete {
  background-color: var(--color-warning);
}

@media only screen and (min-width: 769px) {
  .film-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 769px) {
  .film-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 669px) {
  .film-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
