:root {
  /* COLOR Variable */
  --color-bg: #24252a;
  --color-light: #f3f3f3;
  --color-dark: #383838;
  --color-primary: #eecd3d;
  --color-primary-hover: #cbaf31;
  --color-secondary: #d9d9d9;

  --color-success: #28a745;
  --color-warning: #dc3545;
  --color-danger: #ffc107;

  /* FONT Variable */
  --Font-Poppins: "Poppins", sans-serif;
  --Font-Montserrat: "Montserrat", sans-serif;

  /* FONT Weight Variable */
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

body {
  margin: 0;
  font-family: var(--Font-Montserrat);
  background-color: var(--color-bg);
  color: var(--color-light);
  display: flex;
  height: 100vh;
  /* overflow-y: hidden; Menghindari scroll ganda */
}

.container {
  margin-left: 250px;
  flex-grow: 1;
  overflow-y: auto; /* Memastikan container bisa di-scroll */
}

.sidebar {
  width: 250px;
  padding: 20px 0;
  border-right: 1px solid #fff;
  position: fixed;
  height: 100vh; /* Membuat sidebar sepanjang viewport */
  overflow-y: auto;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 80px;
  height: auto;
  padding-top: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.sidebar nav ul li i {
  display: none;
}

.sidebar nav ul li {
  padding: 20px 20px;
  font-size: 16px;
  font-weight: var(--font-medium);
  position: relative;
  border-right: 4px solid transparent; /* Default to transparent */
  transition: background-color 0.3s, border-right-color 0.3s; /* Smooth transition */
}

.sidebar nav ul li.active,
.sidebar nav ul li:hover {
  border-right-color: var(--color-primary);
  background-color: var(--color-dark);
}

.sidebar nav ul li a {
  color: var(--color-light);
  text-decoration: none;
  display: block;
}

.sidebar .sign-out {
  padding: 15px 20px;
}

.sidebar .sign-out a {
  color: var(--color-light);
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-content header .nav-right {
  display: flex;
  align-items: center;
}

.main-content header .nav-right a {
  color: var(--color-danger);
  text-decoration: none;
  margin-right: 20px;
  font-weight: var(--font-medium);
}

.main-content header .nav-right .user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-content .content {
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .container {
    /* flex-direction: column; */
    /* height: 200vh; */
    margin-left: 0;
    /* justify-content: center; */
  }

  h1 {
    font-size: 20px;
  }

  .sidebar .logo {
    margin: 0;
  }

  .sidebar .logo img {
    display: none;
  }

  .sidebar {
    width: 80%;
    /* height: 100px; */
    height: auto;
    border: none;
    background-color: var(--color-dark);
    bottom: 20px;
    padding: 0;
    margin: 0;
    /* overflow-y: hidden; */
    border-radius: 10px;
    margin-left: 8%;
  }

  .sidebar nav ul li {
    border: none;
  }
  .sidebar nav ul {
    display: flex;
    margin: 0;
    justify-content: space-between;
  }
  .sidebar nav ul li a span {
    display: none;
  }

  .sidebar .sign-out {
    padding: 0;
  }

  .sidebar .sign-out a {
    display: none;
  }

  .sidebar nav ul li i {
    display: flex;
    padding: 10px;
    background-color: var(--color-bg);
    border-radius: 5px;
  }

  .sidebar nav ul li i:hover,
  .sidebar nav ul .active i {
    background-color: var(--color-primary);
  }

  header .nav-right a {
    display: none;
  }
}

/* Dashboard */
.data-count-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 130px);
  margin: 0 20px;
  grid-gap: 35px;
}

.data-count-area .total-card {
  border-radius: 15px;
  background-color: var(--color-dark);
  align-items: center;
  display: flex;
}

.total-card-item {
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}

.kelasapaya {
  display: flex;
  justify-content: space-between;
}
.total-card-item h2 {
  color: var(--color-primary);
}

.total-card-item h4 {
  color: var(--color-secondary);
}

.total-card-item i {
  font-size: 45px;
}

.total-text h2,
.total-text h4 {
  margin: 0;
}

.bargraph-genre {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 300px;
  flex-direction: column;
}

/* Bar Graph */
.bar-graph {
  display: flex;
  align-items: flex-end;
  /* height: 300px; */
  border-left: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  padding: 10px;
  /* margin: 50px; */
  position: relative;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.bar span {
  margin-top: 5px;
}

.bar-graph span {
  position: absolute;
  bottom: -25px; /* Adjust based on the height of the span element */
  text-align: center;
  width: 40px; /* Should match the width of the bar */
}

/* Color Graph Name */
.bar div {
  width: 30px;
  background-color: steelblue;
  margin-bottom: 5px;
}

.bar .bar-Action {
  width: 30px;
  background-color: rgb(180, 70, 70);
  margin-bottom: 5px;
}
.bar .bar-Adventure {
  width: 30px;
  background-color: rgb(119, 255, 85);
  margin-bottom: 5px;
}
.bar .bar-Anime {
  width: 30px;
  background-color: rgb(232, 56, 255);
  margin-bottom: 5px;
}
.bar .bar-Animation {
  width: 30px;
  background-color: rgb(140, 0, 255);
  margin-bottom: 5px;
}
.bar .bar-Biography {
  width: 30px;
  background-color: rgb(116, 116, 116);
  margin-bottom: 5px;
}
.bar .bar-Comedy {
  width: 30px;
  background-color: rgb(0, 247, 255);
  margin-bottom: 5px;
}
.bar .bar-Crime {
  width: 30px;
  background-color: rgb(241, 145, 0);
  margin-bottom: 5px;
}
.bar .bar-Drama {
  width: 30px;
  background-color: rgb(255, 155, 155);
  margin-bottom: 5px;
}
.bar .bar-Family {
  width: 30px;
  background-color: rgb(235, 102, 102);
  margin-bottom: 5px;
}

.bar .bar-History {
  width: 30px;
  background-color: rgb(39, 40, 78);
  margin-bottom: 5px;
}
.bar .bar-Horror {
  width: 30px;
  background-color: rgb(107, 0, 0);
  margin-bottom: 5px;
}
.bar .bar-Musical {
  width: 30px;
  background-color: rgb(196, 185, 37);
  margin-bottom: 5px;
}
.bar .bar-Mystery {
  width: 30px;
  background-color: rgb(9, 0, 77);
  margin-bottom: 5px;
}
.bar .bar-Romance {
  width: 30px;
  background-color: rgb(235, 125, 125);
  margin-bottom: 5px;
}

/* End Bar Graph */

/* End Dashboard */

.header-management {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  gap: 10px;
}

.header-management a,
.filter-button select {
  border-radius: 5px;
  padding: 12px 38px;
  background-color: var(--color-success);
  outline: none;
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--font-semibold);
}

.header-management a i {
  display: none;
}

.filter-button select {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0);
}

.filter-button option {
  background-color: var(--color-bg);
}

.search-box {
  position: relative;
}

.search-box input {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 200px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 40px;
  color: var(--color-light);
  outline: none;
}

.search-box input::placeholder {
  color: var(--color-light);
}

.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-box button i {
  color: var(--color-light);
  /* display: none; */
}

@media (max-width: 768px) {
  .search-box input {
    width: 80px;
  }

  .header-management a,
  .filter-button select {
    border-radius: 5px;
    padding: 12px 15px;
    outline: none;
    text-decoration: none;
    color: var(--color-light);
    font-weight: var(--font-semibold);
  }

  .header-management a span {
    display: none;
  }

  .header-management a i {
    display: flex;
  }
}

.film-container {
  padding: 0 15px;
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.film-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 230px;
  border: 1px solid var(--color-secondary);
  padding: 10px;
  border-radius: 5px;
}

.film-card .img-poster {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.film-card .img-poster img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.film-card .poster-action {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-btn {
  display: flex;
  gap: 10px;
}

.action-btn .edit,
.action-btn .delete {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}

.action-btn a i,
.action-btn a i {
  color: var(--color-light);
}
.edit {
  background-color: var(--color-danger);
}

.delete {
  background-color: var(--color-warning);
}

@media only screen and (min-width: 1069px) {
  .film-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1069px) {
  .film-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 669px) {
  .film-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .film-card {
    width: 100px;
  }

  .film-card h4 {
    font-size: 10px;
  }
  .action-btn .edit,
  .action-btn .delete {
    height: 15px;
    width: 15px;
    padding: 7px;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    font-size: 10px;
  }

  .user-table table {
    font-size: 9px;
  }

  .user-table table .action-btn .edit,
  .user-table table .action-btn .delete {
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 768px) {
  .film-container {
    justify-content: space-between;
  }
}

.user-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  color: var(--color-light);
}

.user-table table {
  width: 96%;
  border-collapse: collapse;
  margin: 0 15px;
}

.user-table th,
.user-table td {
  padding: 15px;
  text-align: left;
}

.user-table th {
  font-weight: var(--font-bold);
}

.user-table tr:nth-child(odd) {
  background-color: var(--color-bg);
}

.user-table tr:nth-child(even) {
  background-color: var(--color-bg);
}

.user-table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-table button.delete {
  color: var(--color-warning);
}

.user-table tbody {
  border-radius: 5px;
  padding: 10px;
}

tbody .action-btn .edit,
tbody .action-btn .delete {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}

.user-info {
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.user-info .form-input {
  display: flex;
}

.user-picture {
  /* width: 100px; Atur sesuai kebutuhan Anda */
  max-width: 200px;
  height: auto;
  margin-right: 20px; /* Jarak antara gambar dan form */
}

.user-form {
  display: grid;
  align-content: space-evenly;
}

.user-form input .user-info select {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px; /* Atur sesuai kebutuhan Anda */
}

.user-info .form-submit {
  align-self: flex-end;
  margin-top: 20px; /* Tambahkan jarak atas jika diperlukan */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-info button {
  padding: 5px 10px;
}

/* Film Management Detail */

.film-field {
  border: 1px solid var(--color-secondary);
  margin: 0 40px 0 15px;
  border-radius: 10px;
  font-family: var(--Font-Poppins);
  padding: 50px;
}

.film-field input {
  font-family: var(--Font-Poppins);
}

.film-field .grid1,
.film-field .grid2,
.film-field .grid3,
.film-synopsis {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.grid1 .film-poster,
.grid1 .film-banner,
.grid2a .film-title,
.grid2a .film-genre,
.film-date .film-dm,
.film-date .film-year,
.grid2 .film-year,
.grid2 .film-director,
.grid2b,
.grid3a .film-production,
.grid3bc .film-duration,
.grid3b .film-cast,
.film-rate,
.film-rating,
.film-synopsis,
.film-director,
.film-trailer,
.film-type,
.film-country,
.film-status {
  display: grid;
}

.grid1 .film-poster,
.grid1 .film-banner {
  position: relative;
}

.grid2b,
.grid3b {
  width: 60%;
}

.grid2b {
  flex-wrap: nowrap;
}

.grid2b .film-date,
.grid3bc {
  justify-content: space-between;
}

.grid2b .film-dm,
.grid2b .film-year {
  width: 45%;
}

.film-field .film-poster,
.grid2a,
.grid3a {
  width: 40%;
  margin-right: 20px;
}

.grid2 .film-date,
.grid3b .grid3bc {
  display: flex;
  flex-wrap: wrap;
}

.film-field label {
  font-size: 20px;
  font-weight: var(--font-semibold);
}

.film-field input,
.film-field textarea {
  font-size: 18px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-family: var(--Font-Poppins);
}

.film-field textarea {
  height: 200px;
  resize: none;
}

.grid2,
.grid3 {
  margin-top: 30px;
}

.grid4 {
  display: flex;
}

.grid4 {
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid4 .film-country,
.grid4 .film-type,
.grid4 .film-status {
  width: 29%;
}

.film-country {
  order: 1;
}

.film-type {
  order: 2;
}

.film-status {
  order: 3;
}

.film-trailer {
  width: 100%;
  order: 4;
}

.film-genre .genre-option {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}

.genre-option .genre-type {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-size: 13px;
  font-weight: var(--font-medium);
  background-color: var(--color-light);
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer; /* Menambahkan pointer cursor untuk menandakan elemen yang bisa diklik */
}

.genre-option .genre-type label {
  font-size: 13px;
  font-weight: var(--font-medium);
  color: var(--color-dark);
  margin-left: 5px;
}

.film-field .film-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Atur jarak atas tombol sesuai keinginan Anda */
}

.film-field button {
  width: 300px;
  padding: 18px 0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: var(--font-semibold);
  background-color: var(--color-success);
  border: none;
  color: var(--color-light);
  font-weight: var(--font-semibold);
  cursor: pointer;
}

.poster-area {
  width: 30%;
  /* border: 1px solid var(--color-secondary); */
}

.poster-area .film-poster {
  width: 90%;
  margin: auto;
}

.poster-area .film-poster img {
  display: block;
  position: relative;
  max-width: 100%;
  height: 470px;
  border-radius: 5px;
  object-fit: cover;
  margin: auto;
}

.poster-area .film-poster p {
  margin: 20px 0 30px 0;
  text-align: center;
  color: var(--color-secondary);
}

.poster-area input[type="file"] {
  display: none;
}

.poster-area label {
  display: block;
  position: relative;
  background-color: var(--color-danger);
  color: var(--color-light);
  font-size: 18px;
  text-align: center;
  width: 280px;
  padding: 15px 0;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.banner-area {
  width: 70%;
  /* border: 1px solid var(--color-secondary); */
}

.banner-area .film-banner {
  width: 90%;
  margin: auto;
}

.banner-area .film-banner img {
  display: block;
  position: relative;
  max-width: 100%;
  height: 470px;
  border-radius: 5px;
  object-fit: cover;
  margin: auto;
}

.banner-area .film-banner p {
  margin: 20px 0 30px 0;
  text-align: center;
  color: var(--color-secondary);
}

.banner-area input[type="file"] {
  display: none;
}

.banner-area label {
  display: block;
  position: relative;
  background-color: var(--color-danger);
  color: var(--color-light);
  font-size: 18px;
  text-align: center;
  width: 280px;
  padding: 15px 0;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}
