:root {
  /* COLOR Variable */
  --color-bg: #24252a;
  --color-light: #f3f3f3;
  --color-dark: #383838;
  --color-primary: #eecd3d;
  --color-primary-hover: #cbaf31;
  --color-secondary: #d9d9d9;

  --color-success: #28a745;
  --color-warning: #dc3545;
  --color-danger: #ffc107;

  /* FONT Variable */
  --Font-Poppins: "Poppins", sans-serif;
  --Font-Montserrat: "Montserrat", sans-serif;

  /* FONT Weight Variable */
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

body {
  margin: 0;
  font-family: var(--Font-Montserrat);
  background-color: var(--color-bg);
  color: var(--color-light);
  display: flex;
  height: 100vh;
  overflow-y: hidden; /* Menghindari scroll ganda */
}

.container {
  margin-left: 250px;
  flex-grow: 1;
  overflow-y: auto; /* Memastikan container bisa di-scroll */
}

.sidebar {
  width: 250px;
  padding: 20px 0;
  border-right: 1px solid #fff;
  position: fixed;
  height: 100vh; /* Membuat sidebar sepanjang viewport */
  overflow-y: auto; /* Memastikan sidebar bisa di-scroll jika kontennya melebihi viewport */
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 80px;
  height: auto;
  padding-top: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.sidebar nav ul li {
  padding: 20px 20px;
  font-size: 16px;
  font-weight: var(--font-medium);
  position: relative;
  border-right: 4px solid transparent; /* Default to transparent */
  transition: background-color 0.3s, border-right-color 0.3s; /* Smooth transition */
}

.sidebar nav ul li.active,
.sidebar nav ul li:hover {
  border-right-color: var(--color-primary);
  background-color: var(--color-dark);
}

.sidebar nav ul li a {
  color: var(--color-light);
  text-decoration: none;
  display: block;
}

.sidebar .sign-out {
  padding: 15px 20px;
}

.sidebar .sign-out a {
  color: var(--color-light);
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
}

.main-content header .nav-right {
  display: flex;
  align-items: center;
}

.main-content header .nav-right a {
  color: var(--color-danger);
  text-decoration: none;
  margin-right: 20px;
  font-weight: var(--font-medium);
}

.main-content header .nav-right .user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-content .content {
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .main-content {
    margin-top: 20px;
  }
}

.search-box {
  position: relative;
  margin-left: 15px;
}

.search-box input {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-light);
  outline: none;
}

.search-box input::placeholder {
  color: var(--color-light);
}

.search-box button {
  position: absolute;
  /* top: 0;
  right: 0; */
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-box button i {
  color: var(--color-light);
}

.film-container {
  padding-left: 15px;
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.film-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 230px;
  border: 1px solid var(--color-secondary);
  padding: 10px;
  border-radius: 5px;
}

.film-card .img-poster {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.film-card .img-poster img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.film-card .poster-action {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-btn {
  display: flex;
  gap: 10px;
}

.action-btn .edit,
.action-btn .delete {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}

.action-btn a i,
.action-btn a i {
  color: var(--color-light);
}
.edit {
  background-color: var(--color-danger);
}

.delete {
  background-color: var(--color-warning);
}

.user-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  color: var(--color-light);
}

.user-table table {
  width: 97%;
  border-collapse: collapse;
  margin-left: 15px;
}

.user-table th,
.user-table td {
  padding: 15px;
  text-align: left;
}

.user-table th {
  font-weight: var(--font-bold);
}

.user-table tr:nth-child(odd) {
  background-color: var(--color-bg);
}

.user-table tr:nth-child(even) {
  background-color: var(--color-bg);
}

.user-table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-table button.delete {
  color: var(--color-warning);
}

.user-table tbody {
  border-radius: 5px;
  padding: 10px;
}

tbody .action-btn .edit,
tbody .action-btn .delete {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}

.user-info {
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.user-info .form-input {
  display: flex;
}

.user-picture {
  /* width: 100px; Atur sesuai kebutuhan Anda */
  max-width: 200px;
  height: auto;
  margin-right: 20px; /* Jarak antara gambar dan form */
}

.user-form {
  display: grid;
  align-content: space-evenly;
}

.user-form input .user-info select {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px; /* Atur sesuai kebutuhan Anda */
}

.user-info .form-submit {
  align-self: flex-end;
  margin-top: 20px; /* Tambahkan jarak atas jika diperlukan */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-info button {
  padding: 5px 10px;
}

@media only screen and (min-width: 769px) {
  .film-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 769px) {
  .film-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 669px) {
  .film-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Film Management Detail */

.film-field {
  border: 1px solid var(--color-secondary);
  margin: 0 40px 0 15px;
  border-radius: 10px;
  font-family: var(--Font-Poppins);
  padding: 50px;
}

.film-field input {
  font-family: var(--Font-Poppins);
}

.film-field .grid1,
.film-field .grid2,
.film-field .grid3,
.film-synopsis {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.grid1 .film-poster,
.grid1 .film-banner,
.grid2a .film-title,
.grid2a .film-genre,
.film-date .film-dm,
.film-date .film-year,
.grid2 .film-year,
.grid2 .film-director,
.grid2b,
.grid3a .film-production,
.grid3a .film-duration,
.grid3b .film-cast,
.film-rate,
.film-rating,
.film-synopsis,
.film-director {
  display: grid;
}

.grid1 .film-poster,
.grid1 .film-banner {
  position: relative;
}

.grid1 .film-poster img,
.grid1 .film-banner img {
  height: 500px;
  width: auto;
}

.grid2b,
.grid3b {
  width: 60%;
}

.grid2b {
  flex-wrap: nowrap;
}

.grid2b .film-date,
.grid3bc {
  justify-content: space-between;
}

.grid2b .film-dm,
.grid2b .film-year {
  width: 45%;
}

.film-field .film-poster,
.grid2a,
.grid3a {
  width: 40%;
  margin-right: 20px;
}

.grid2 .film-date,
.grid3b .grid3bc {
  display: flex;
}

.film-field label {
  font-size: 20px;
  font-weight: var(--font-semibold);
}

.film-field input,
.film-field textarea {
  font-size: 18px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-family: var(--Font-Poppins);
}

.film-field textarea {
  height: auto;
}

.grid2,
.grid3 {
  margin-top: 30px;
}

.film-genre .genre-option {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}

.genre-option .genre-type {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-size: 13px;
  font-weight: var(--font-medium);
  background-color: var(--color-light);
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer; /* Menambahkan pointer cursor untuk menandakan elemen yang bisa diklik */
}

.genre-option .genre-type label {
  font-size: 13px;
  font-weight: var(--font-medium);
  color: var(--color-dark);
  margin-left: 5px;
}

.genre-option .genre-type.checked {
  background-color: yellow;
}
