:root {
  /* COLOR Variable */
  --color-bg: #24252a;
  --color-light: #f3f3f3;
  --color-dark: #383838;
  --color-primary: #eecd3d;
  --color-primary-hover: #cbaf31;
  --color-secondary: #d9d9d9;

  --color-success: #28a745;
  --color-warning: #dc3545;
  --color-danger: #ffc107;

  /* FONT Variable */
  --Font-Poppins: "Poppins", sans-serif;
  --Font-Montserrat: "Montserrat", sans-serif;

  /* FONT Weight Variable */
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

/* Header Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font-Poppins);
}

body {
  background-color: var(--color-bg);
}

h2 {
  color: var(--color-light);
}

header {
  width: 100%;
  height: 100px;
  z-index: 99;
  background-color: var(--color-bg);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

/* .navbar-logo img {
  height: 100px;
} */

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-list ul {
  display: flex;
}

.navbar-list li {
  list-style: none;
}

.navbar-list a {
  text-decoration: none;
  color: var(--color-light);
  padding: 20px 30px;
}

.navbar-list a:hover {
  color: var(--color-primary-hover);
}

.search-box {
  position: relative;
  margin-left: 15px;
}

.search-box input {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-light);
  outline: none;
}

.search-box input::placeholder {
  color: var(--color-light);
}

.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-box button i {
  color: var(--color-light);
}

.menu {
  display: none;
}

.signin a {
  text-decoration: none;
  color: var(--color-light);
  padding: 10px 12px;
  background: var(--color-primary);
  border-radius: 8px;
}

.signin a:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-light);
}

@media (max-width: 1000px) {
  .navbar {
    padding: 0 5%;
  }

  .search-box button {
    position: absolute;
  }

  .navbar-list ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background: #10181e;
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }

  .menu {
    display: block;
    width: 100px;
    text-align: center;
    font-size: 2.5em;
  }

  #chk1:checked ~ .navbar-list ul {
    right: 0;
  }
}

/* Category Section */

.category {
  padding-top: 120px;
  margin: 0 10%;
}

.category h2 {
  padding: 5px;
  margin-bottom: 10px;
}

.list-category {
  margin-bottom: 20px;
}

.list-category ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  list-style: none;
  padding: 0;
}

.list-category ul li {
  margin-bottom: 5px;
  background-color: var(--color-primary);
  margin: 10px;
  border-radius: 5px;
}

.list-category ul li a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-bold);
  display: block;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.list-category ul li a:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-dark);
  font-weight: var(--font-medium);
}

/* Carousel Section */

.mySlides {
  display: none;
}
.mySlides img {
  vertical-align: middle;
  height: 500px;
}
/* Slideshow container */
.carousel-container {
  position: relative;
  margin: auto;
}

/* Caption text */

.film-information {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.dot {
  height: 10px;
  width: 10px;
}
@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
}

/* Footer */
footer {
  color: #f3f3f3;
  border-top: 1px solid #f3f3f3; /* Garis atas */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  margin: 0 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.logo {
  flex-basis: 60%; /* Mengatur lebar logo 60% */
}

.logo img {
  max-width: 150px;
  height: auto;
}

.footer-bottom {
  border-top: 1px solid var(--color-secondary);
}

.bottom-area {
  margin: 0 10%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about {
  display: flex;
  align-items: center;
}

.categories {
  flex-basis: 40%; /* Mengatur lebar konten footer 40% */
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 0; /* Menghapus margin bawaan */
  text-align: left; /* Rata kiri */
  font-size: 18px;
  margin-bottom: 8px;
  padding: 5px;
}

.categories {
  padding: 20px;
}

.columns ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  list-style: none;
  padding: 0;
}

.columns ul li {
  margin-bottom: 5px;
}

.columns ul li a {
  text-decoration: none;
  color: var(--color-primary);
  display: block;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.columns ul li a:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-dark);
  font-weight: var(--font-medium);
}

.about i {
  font-size: 10px;
  font-weight: bold;
  color: #f3f3f3;
  margin-left: 10px;
}
