:root {
  /* COLOR Variable */
  --color-bg: #24252a;
  --color-light: #f3f3f3;
  --color-dark: #383838;
  --color-primary: #eecd3d;
  --color-secondary: #d9d9d9;

  --color-success: ##28a745;
  --color-warning: ##dc3545;
  --color-danger: ##ffc107;

  /* FONT Variable */
  --Font-Poppins: "Poppins", sans-serif;
  --Font-Montserrat: "Montserrat", sans-serif;

  /* FONT Weight Variable */
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}
